{:paths          ["scripts"]
 :deps           {medley/medley {:mvn/version "1.3.0"}}
 :min-bb-version "0.4.0"
 :tasks
 {:requires ([babashka.fs :as fs]
             [babashka.process :as process]
             [life.tool :as t])
  clean     (shell "rm -rf target")
  build     (do (shell "npm run sass:build")
                (shell "npx shadow-cljs release life")
                (t/generate-html)
                (shell "docker build -t reg.cork.lan/zehcnas34/life ."))}}
