{:deps     {:aliases [:dev]}
 :dev-http {3000 ["src/main/resources/public" "target/public"]}
 :builds
 {:life {:target      :browser
         :asset-path  "/js"
         :output-dir  "target/public/js"
         :modules     {:core {:init-fn one.alexsan.life/main}}}}}
